<span class="periodical">
  {%- if entry.type == "article" -%}
  <em>{{entry.journal}},</em>{% if entry.volume %} {{entry.volume}}{% if entry.number %}({{ entry.number }}){% endif %}{% if entry.pages %}:{{ entry.pages }}{% endif %},{% endif %}
  {%- elsif entry.type == "inproceedings" or entry.type == "incollection" -%}
  <em>In {{entry.booktitle}},</em>{% if entry.pages %} {{ entry.pages }}, {% endif %}
  {%- endif -%}
</span>
<span class="date">
  {%- if entry.month %} {{ entry.month | capitalize }}{% endif %} {% if entry.year %}{{entry.year}}.{% endif -%}
</span>
<span>{% if entry.annotation %} ({{entry.annotation}}){% endif %}</span>
