{%- assign carouselID = include.title | slugify -%}
<div id="{{ carouselID }}" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
	{%- assign num = include.pages | size | minus: 1 -%}
	{%- for idx in (0..num) %}
    <li data-target="#{{ carouselID }}" data-slide-to="{{ idx }}" {% if idx == 0 %}class="active" {%- endif %}></li>
	{% endfor -%}
  </ol>  
  <div class="carousel-inner">
	{% for page in include.pages %}
	{%- capture carouselClass -%}
	carousel-item{% if page.url == include.pages[0].url %} active{% endif %}
	{%- endcapture -%}
	<!-- {{ page.url }} - {{ include.pages[0].url }} -->
    <div class="{{ carouselClass }}">
      <a href="{{ page.url }}">
		<img src="{{ page.image }}" class="d-block w-100" alt="{{ page.title }}">
	  </a>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-4">{{ page.title }}</h1>
        {{ page.excerpt -}}
		
      </div>
    </div>
	{% endfor %}
  </div>
  <a class="carousel-control-prev" href="#{{ carouselID }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#{{ carouselID }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
