---
layout: default
title: Blog Posts
subtitle: The essentials
---

<!-- Featured Posts -->
<section class="featured-posts">
  {% assign featured = site.posts | where: "featured", "true" %}
  {% include carousel.html pages=featured title=page.title %}  
</section>

<div class="row justify-content-center title">
  <h1>{{ page.title }}</h1>
</div>

{%- if paginator.posts %}
<section class="card-columns">
  {% assign pages = paginator.posts | where_exp: "item", "item.featured == nil" %}
  {% include card.html pages=pages %}
</section>
{% endif -%}
