/* ----------------------------------------------------------------------
 * Basic Setup
 * ---------------------------------------------------------------------- */

/* Make shift CSS reset. */
* { 
  margin: 0;
  padding: 0;
}

/* Tell the browser to render HTML 5 elements as blocks. */
header, footer, nav, aside, article, section { 
  display: block;
}

body { 
  margin: 0 auto;
  padding: 10px;
  max-width: 762px;
  width: 100%;
  font: 18px/1.4 Helvetica, Arial, sans-serif;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: bold;
  
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  /* border: 1px solid black; */

  @include mobile {
    line-height: 1.4;
  }
}

h1 { font-size: 30px; }

h1 a { color: inherit; }

h2 { font-size: 24px; }

h3 { font-size: 20px; }

h4 {  
  font-size: 18px;
  color: #666;
}

ul, ol { 
  margin-left: 2em;
}

p {
  /* margin: 15px 0; */
}

a {
  color: #4183C4;
  text-decoration: none;
  cursor: pointer;
}

a.headerlink {
  visibility: hidden;
}

/* ----------------------------------------------------------------------
 * Header
 * ---------------------------------------------------------------------- */
header {
  @include mobile {
    text-align: center;
  }
}

header h1 {
  margin: 3px 0;
  padding: 0;
  cursor: pointer;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  /* border: 1px solid black; */
}

header p {
  margin: -5px 0 0 0;
  font-size: 16px;
  color: #222;

  @include mobile {
    margin: 3px 0;
  }
}

header img { 
  float: left;
  width: 88px;
  height: 88px;
  margin-right: 10px;
  border-radius: 5px;
}

.site-info { 
  float: left;
  /* border: 1px solid green; */
}

/* ----------------------------------------------------------------------
 * Navigation
 * ---------------------------------------------------------------------- */
nav {
  padding: 36px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: right;
  border-bottom: 1px solid #333;
  // max-width: 740px;
  // width: 80%;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
}
nav a {
    margin-left: 36px;
    color: #333;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: #4183C4;
    }
  }

nav a.active{ 
  color: #4183C4;
}

/* nav { */
/*   // float: right; */
/*   display: block; */
/*   // position: absolute; */
/*   // width: 940px; */
/*   /\* background: url("images/nav_background.png"); *\/ */
/*   // background: #cd2010; */

/*   /\* Border-radius not implemented yet *\/ */
/*   // -moz-border-radius: 0 0 16px 16px; */
/*   // -webkit-border-radius: 0 0 16px 16px; */
/* } */

/* nav ul { */
/*   margin: 0 auto; */
/*   width: 940px; */
/*   list-style: none; */
/* } */

/* nav ul li { */
/*   float: left; */
/* } */
		
/* nav ul li a { */
/*   display: block; */
/*   margin: 0 20px 0 20px; */
/*   width: 100px; */
/*   font-size: 16px; */
/*   font-weight: bold; */
/*   line-height: 42px; */
/*   text-align: center; */
/*   text-decoration: none; */
/*   color: #cdcdcd; */
/* } */

/* nav ul li a:hover { */
/*   color: #ffe808; */
/* } */

/* nav ul li.selected a { */
/*   color: #ffe808; */
/* } */
	
/* nav ul li.subscribe a { */
/*   margin-left: 22px; */
/*   padding-left: 33px; */
/*   text-align: left; */
/*   background: url("images/rss.png") left center no-repeat; */
/* } */


/* ----------------------------------------------------------------------
 * Introductions
 * ---------------------------------------------------------------------- */

/* #intro { */
/*   position: relative; */
/*   margin-top: 64px; */
/*   padding: 32px; */
/*   background: #467612; /\* url("intro_background.png") repeat-x;*\/ */

/*   /\* Background-size not implemented yet *\/ */
/*   -webkit-background-size: 100%; */
/*   -o-background-size: 100%; */
/*   -khtml-background-size: 100%; */

/*   /\* Border-radius not implemented yet *\/ */
/*   -moz-border-radius: 22px; */
/*   -webkit-border-radius: 22px; */
/* } */

/* #intro h2, #intro p { */
/*   position: relative; */
/*   z-index: 9999; */
/*   width: 336px; */
/* } */
	
/* #intro h2 { */
/*   padding: 0 0 22px 0; */
/*   font-weight: normal; */
/*   color: #fff; */
/* } */

/* #intro p { */
/*   padding: 0; */
/*   color: #d9f499; */
/* } */

/* #intro img { */
/*   position: absolute; */
/*   top: 0; */
/*   right: 0; */
/*   width: 653px; */
/*   height: 100%; */
	
/*   /\* Border-radius not implemented yet *\/ */
/*   -moz-border-radius: 22px; */
/*   -webkit-border-radius: 22px; */
/* } */

/* ----------------------------------------------------------------------
 * Content and Sidebar
 * ---------------------------------------------------------------------- */

#content {
  margin: 12px 0;
  /* border: 1px dashed red; */
}

#mainContent {
  margin: 0 12px;
  /* border: 1px solid green; */
}

/* aside { */
/*   display: table-cell; */
/*   width: 256px; */
/* } */

/* aside section { */
/*   margin: 20px; */
/*   padding-bottom: 3px; */
/*   border: 1px solid #cd2010; */

/*   /\* Border-radius not implemented yet *\/ */
/*   -moz-border-radius: 11px; */
/*   -webkit-border-radius: 11px; */
/* } */

/* aside header {  */
/*   font-size: 18px; */
/*   font-weight: bold; */
/*   text-align: center; */
/*   padding: 3px 0 3px 0; */
/*   margin-bottom: 3px; */
/*   border-bottom: 1px solid #cd2010; */
/* } */

/* aside section ul { */
/*   margin: 0 auto; */
/*   padding-left: 1em; */
/*   text-align: left; */
/*   list-style: none; */
/* } */

/* aside section ul li a { */
/*   display: block; */
/*   text-decoration: none; */
/* } */
		
/* aside section ul li a:hover { */
/*   text-decoration: underline; */
/* } */

/* ----------------------------------------------------------------------
 * Footer
 * ---------------------------------------------------------------------- */

footer {
  margin-top: 12px;
  border-top: 1px solid #333;
  padding-top: 4px;
  font-size: 12px;
}

footer ul {
  margin: 2px auto;
  list-style: none;
}

.copyright {
  border: 0;
  padding-left: 2px;
  float: left;
}

.socialnet {
  border: 0;
  padding-right: 2px;
  float: right;
}
