/* ----------------------------------------------------------------------
 * Basic Setup
 * ---------------------------------------------------------------------- */

/* Make shift CSS reset. */
* { 
  margin: 0;
  padding: 0;
}

/* Tell the browser to render HTML 5 elements as blocks. */
header, section, footer, aside, nav, article { 
  display: block;
}

body { 
  margin: 0 auto;
  padding: 22px 0;
  width: 940px;
  font-family: Georgia, Verdana, Lucida-Console;
  font-size: 16px;
  background: #F0F0F0;
}

h1 {
  font-size: 28px;
  line-height: 44px;
  padding: 22px 0;
  color: #181277;
}

h2 {
  font-size: 22px;
  line-height: 32px;
  padding: 16px 0;
  color: #121877;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  padding: 11px 0;
  color: #771218;
}

ul, ol { 
  margin-left: 2em;
}

a.headerlink {
  visibility: hidden;
}

/* ----------------------------------------------------------------------
 * Header
 * ---------------------------------------------------------------------- */
header h1 {
  font-size: 32px;
  line-height: 44px;
  padding: 22px 0;
}

/* ----------------------------------------------------------------------
 * Navigation
 * ---------------------------------------------------------------------- */
nav {
  position: absolute;
  width: 940px;
  /* background: url("images/nav_background.png"); */
  background: #cd2010;

  /* Border-radius not implemented yet */
  -moz-border-radius: 0 0 16px 16px;
  -webkit-border-radius: 0 0 16px 16px;
}

nav ul {
  margin: 0 auto;
  width: 940px;
  list-style: none;
}

nav ul li {
  float: left;
}
		
nav ul li a {
  display: block;
  margin: 0 20px 0 20px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  color: #cdcdcd;
}

nav ul li a:hover {
  color: #ffe808;
}

nav ul li.selected a {
  color: #ffe808;
}
	
/* nav ul li.subscribe a { */
/*   margin-left: 22px; */
/*   padding-left: 33px; */
/*   text-align: left; */
/*   background: url("images/rss.png") left center no-repeat; */
/* } */


/* ----------------------------------------------------------------------
 * Introductions
 * ---------------------------------------------------------------------- */

/* #intro { */
/*   position: relative; */
/*   margin-top: 64px; */
/*   padding: 32px; */
/*   background: #467612; /\* url("intro_background.png") repeat-x;*\/ */

/*   /\* Background-size not implemented yet *\/ */
/*   -webkit-background-size: 100%; */
/*   -o-background-size: 100%; */
/*   -khtml-background-size: 100%; */

/*   /\* Border-radius not implemented yet *\/ */
/*   -moz-border-radius: 22px; */
/*   -webkit-border-radius: 22px; */
/* } */

/* #intro h2, #intro p { */
/*   position: relative; */
/*   z-index: 9999; */
/*   width: 336px; */
/* } */
	
/* #intro h2 { */
/*   padding: 0 0 22px 0; */
/*   font-weight: normal; */
/*   color: #fff; */
/* } */

/* #intro p { */
/*   padding: 0; */
/*   color: #d9f499; */
/* } */

/* #intro img { */
/*   position: absolute; */
/*   top: 0; */
/*   right: 0; */
/*   width: 653px; */
/*   height: 100%; */
	
/*   /\* Border-radius not implemented yet *\/ */
/*   -moz-border-radius: 22px; */
/*   -webkit-border-radius: 22px; */
/* } */

/* ----------------------------------------------------------------------
 * Content and Sidebar
 * ---------------------------------------------------------------------- */

#content {
  margin-top: 32px;
  display: table;
}

#mainContent {
  display: table-cell;
  width: 660px;
  padding-right: 22px;
}

aside {
  display: table-cell;
  width: 256px;
}

aside section {
  margin: 20px;
  padding-bottom: 3px;
  border: 1px solid #cd2010;

  /* Border-radius not implemented yet */
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
}

aside header { 
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 3px 0 3px 0;
  margin-bottom: 3px;
  border-bottom: 1px solid #cd2010;
}

aside section ul {
  margin: 0 auto;
  padding-left: 1em;
  text-align: left;
  list-style: none;
}

aside section ul li a {
  display: block;
  text-decoration: none;
}
		
aside section ul li a:hover {
  text-decoration: underline;
}

/* ----------------------------------------------------------------------
 * Footer
 * ---------------------------------------------------------------------- */

footer {
  position: absolute;
  margin-top: 32px;
  width: 940px;
  font-size: 12px;
  border-top: 1px solid #cd2010;
}

footer ul {
  margin: 2px auto;
  padding-left: 3px;
  list-style: none;
  color: #181277;
}

#copyright { 
  border: 0;
  float: left;
}
                     
#poweredtech { 
  border: 0;
  float: right;
}

#poweredtech ul li { 
  float: left;
  padding-left: 5px;
}

#container { 
 border: 1px solid #cd2010;
}